/* ---------------------------------Left Side------------------------- */
.body-div {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: auto;
  /* margin-left: 30px;
  margin-right: 30px; */
}

.body-div > .left-part-div {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.body-div > .right-part-div {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.left-part-div > .left-top-div {
  display: block;
  background-color: bisque;
  height: 193px;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
  width: auto;
  z-index: 1;
}
.left-part-div > .left-bottom-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  width: auto;
  height: 72.9%; /*modify to auto*/
}
.left-top-div > h3 {
  font-size: 20px;
  margin-top: 4px;
  margin-bottom: 4px;
  line-height: 1;
  justify-self: center;
  cursor: pointer;
}

.body-h {
  color: black;
}

.body-h:hover {
  color: aquamarine;
}

.left-top-div p {
  margin-left: 10px;
  margin-top: 6px;
  margin-bottom: 5px;
  line-height: 1;
  font-size: 17px;
}

/* ---------------------------------Right Side------------------------- */
.header-container {
  background-color: #e0e0e0;
  display: grid;
  grid-template-columns: 150px auto 120px;
  /* gap: 20px; */
  /* padding: 10px; */
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile > img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
  cursor: pointer;
  box-shadow: 1px 1px 7px gray;
}
.vendor-info {
  display: flex;
  align-items: center;
}
.sub-vendor-info {
  line-height: 20px;
}
.sub-vendor-info > p > span {
  font-weight: bold;
}
.sub-vendor-info > p > span {
  text-indent: 20px;
}
.message > p {
  background-color: lightblue;
  width: 100px;
  text-align: center;
  color: black;
  border-radius: 20px;
  cursor: pointer;
}
/* ---------------------------Main-Category--------------------------------- */
.category {
  padding: 10px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding-left: 10px;
  background-color: rgba(3, 71, 134);
  color: white;
}
select {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 0.9rem;
  padding: 2px 5px;
  color: white;
}
option{
  background-color: #e0e0e0;
  color: black;
  border: none;
}
/* -----------------------------Main-item----------------------------------------- */
.container {
  padding: 10px;
  padding-top: 0px;
  background-color: antiquewhite;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: auto auto auto;
  /* gap: 20px; */
  row-gap: 10px;
  column-gap: 20px;
}
.main-item {
  box-shadow: 1px 1px 7px gray;
  margin-top: 10px;
  border-radius: 20px;
  background-color: #e0e0e0;
  /* padding: 10px; */
}
.sub-item {
  display: grid;
  grid-template-columns: 110px auto auto;
}
.image-category {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #b4c8c5;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-category > img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  object-fit: cover;
  cursor: pointer;
}
.info-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding-left: 10px;
  line-height: 0.3;
  font-size: 13px;
}
.booking-button > p {
  text-align: center;
  background-color: bisque;
  border-radius: 20px;
  width: 80px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 13px;
  box-shadow: 1px 1px 3px gray;
}
/* heart */
/* Heart Animation Styles */
.heart-container {
  margin-top: 10px;
  margin-left: auto;
  margin-right: 20px;
  --heart-color: rgba(3, 71, 134);
  position: relative;
  width: 27px;
  height: 27px;
  transition: 0.3s;
}

.heart-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.heart-container .svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-container .svg-outline,
.heart-container .svg-filled {
  fill: var(--heart-color);
  position: absolute;
  transition: transform 0.3s ease;
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate 0.5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
}

.heart-container .checkbox:checked ~ .svg-container .svg-filled {
  display: block;
}

.heart-container .checkbox:checked ~ .svg-container .svg-celebrate {
  display: block;
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
    filter: brightness(1.5);
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}
/* ---------------------------------------------------- */
